<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="menu2::head">
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
</head>
<body>
	<nav th:replace="menu2::menu"></nav>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-lg">
				<form th:action="@{/Profesores/EditarProfesores}" th:object="profesormodel" method="post"><!-- th:action="@{/Profesores/EditarProfesores" th:object="registrarprofesorform" method="post"-->
					<div class="form-group">
						<label for="exampleInputEmail1">Codigo</label><input th:field="*{idProfesor}" th:text="${profesormodel.idProfesor}"  type="text"
							class="form-control" id="exampleInputEmail1"
							aria-describedby="emailHelp">
					</div>
					<!-- th:field="*{codigo}" -->
					<div class="form-group">
						<label for="exampleInputEmail1">Codigo</label><input th:field="*{idPersona}" th:text="${profesormodel.idPersona}"  type="text"
							class="form-control" id="exampleInputEmail1"
							aria-describedby="emailHelp">
					</div>
						<!-- th:field="*{nombre}" th:text="${nombre}"--> 
					<div class="form-group">
						<label for="exampleInputEmail1">Nombre</label> <input th:field="*{idUsuario}" th:text="${profesormodel.idUsuario}"  type="text" 
							class="form-control" id="exampleInputEmail1"
							aria-describedby="emailHelp">
					</div>
					<!--  th:field="*{estado}"-->
					<div class="form-group">
						<label for="exampleInputPassword1">Estado</label> <input th:field="*{Estado}" th:text="${profesormodel.Estado}" 
							type="text" class="form-control" id="exampleInputPassword1">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
			<div class="col-sm"></div>
		</div>
	</div>
</body>
</html>