<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="menu2::head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<br>
	<nav th:replace="menu2::menu"></nav>
	<div th:replace="menu2::barra"></div>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-lg">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<!--  <th scope="col">Codigo</th>
							<th scope="col">Nombre</th>
							<th scope="col">Apellido</th>
							<th scope="col">DNI</th>
							<th scope="col">Email</th>
							<th scope="col">Cargo</th>
							<th scope="col">Telefono</th>
							<th scope="col">Usuario</th>
							<th scope="col">Contraseña</th>
							<th scope="col">Estado</th>
							<th scope="col">Acciones</th>-->
							<th scope="col">Codigo</th>
							<th scope="col">Codigo Persona</th>
							<th scope="col">Codigo usuario</th>
							<th scope="col">Estado</th>
							<th scope="col">Acciones</th>
							<th></th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="profesoresForm :${lstprofesores}">
							<!--  <td th:text="${profesoresForm.codigo}"></td>
							<td th:text="${profesoresForm.nombre}"></td>
							<td th:text="${profesoresForm.apellido}"></td>
							<td th:text="${profesoresForm.dni}"></td>
							<td th:text="${profesoresForm.email}"></td>
							<td th:text="${profesoresForm.cargo}"></td>
							<td th:text="${profesoresForm.telefono}"></td>
							<td th:text="${profesoresForm.usuario}"></td>
							<td th:text="${profesoresForm.clave}"></td>
							<td th:text="${profesoresForm.estado}"></td>-->
							<td th:text="${profesoresForm.idProfesor}"></td>
							<td th:text="${profesoresForm.idPersona}"></td>
							<td th:text="${profesoresForm.idUsuario}"></td>
							<td th:text="${profesoresForm.estado}"></td>
							<td><a class="nav-link"
								th:href="@{/Profesores/EditarProfesores}">Editar</a></td>
							<td><a class="nav-link"
								th:href="@{/Profesores/eliminarProfesores}">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
				<a class="nav-link" th:href="@{/Profesores/RegistrarProfesores}">Registrar
					Profesor</a> <a class="nav-link" th:href="@{/login}">Regresar</a>
			</div>
			<div class="col-sm"></div>
		</div>
	</div>
	
	<div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
		<script src="../css/icons/script.js"></script>
		<script type="text/javascript" 
th:src="@{/script/jsweb/curso/listarGrado.js}"></script>
	</div>
</body>
</html>